@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

*{
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body, html {
    height: 100%;
}

.menu-principal{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(52,51,58, 0.9), rgba(52,51,58, 0.9)), url("../storage/img/placeYourImageHere0.png");
    background-size: cover;

}

.menu-principal .imagen-logo{
    margin-top: 14px;
}

.Barra-horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.item-1, li{
    display: inline;
    margin-right: 20px;
}

.item-1 a{
    color: var(--color-font);
    text-decoration: none;
}

.item-1 a:hover{
    color: var(--color-primary);
}

.contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 100px;
}

.contenido-izquierda {
    margin-right: 40px;
}

.contenido-izquierda img{
    width: 500px;
}

.contenido-derecha h1{
    width: 400px;
    font-size: 50px;
    color: var(--color-primary);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.contenido-derecha p{
    width: 500px;
    color: var(--color-font);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 20px;
}

.boton-menu{
    background-color: var(--color-primary);
    color: black;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    margin-top: 10px;
}

/* Comienzo About */