@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

*{
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body, section, html {
    background-color: var(--color-secundary);
    height: 100%;
}

.menu-principal{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(52,51,58, 0.9), rgba(52,51,58, 0.9)), url("../storage/img/placeYourImageHere0.png");
    background-size: cover;

}

.menu-principal .Barra-horizontal{
    height: 10%;
}

.menu-principal .imagen-logo{
    margin-top: 14px;
}

.menu-principal .contenido{
    height: 70%;
}

.Barra-horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.item-1, li{
    display: inline;
    margin-right: 20px;
}

.item-1 a{
    color: var(--color-font);
    text-decoration: none;
}

.item-1 a:hover{
    color: var(--color-primary);
}

.contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 100px;
}

.contenido-izquierda {
    margin-right: 50px;
}

.contenido-izquierda img{
    height: 600px;
}

.contenido-derecha .titulo{
    width: 400px;
    font-size: 50px;
    color: var(--color-primary);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.contenido-derecha p{
    width: 500px;
    color: var(--color-font);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 20px;
}

.contenido-derecha h1{
    width: 500px;
    color: var(--color-font);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 40px;
}

.boton-menu{
    background-color: var(--color-primary);
    color: black;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    margin-top: 10px;
}

/* Comienzo About */
.About{
    background-color: var(--color-secundary);
    width: 100%;
    height: 100%;
}

.contenido-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
}

.our-food-quality{
    margin-top: 200px;
    background-image: url("../storage/img/placeYourImageHereFood.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.imagen-1{
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-top: -100px;
}

.imagen-1 img{
    width: 500px;
    height: 900px;
}

.contenido-3{
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -500px;
    margin-left: 200px;
}

.contenido-3 h1{
    color: var(--color-font);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 40px;
}

.contenido-3 p{
    color: var(--color-font);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 30px;
}

.imagenes-2-3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    justify-content: space-between;
}

.imagenes-2-3 .imagen-3{
    margin-top: 540px;
}

.imagenes-2-3 .imagen-2{
    height: 870px;
    width: 870px;
}

/* Gallery */

.gallery{
    width: 100%;
    height: 1236px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery .titulo{
    margin: 55px;
    margin-bottom: 60px;
    color: var(--color-font);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 40px;
}

.gallery .imagenes-gallery{
    width: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery .imagenes-gallery img{
    margin: 10px;
}

/* Enjoy our food */

.enjoy-our-food{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("../storage/img/placeYourImageHereOur0.png");
    background-size: cover;
}

.enjoy-our-food .caja{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.enjoy-our-food .contenido-4{
    background-color: rgba(23,25,33, 0.9);
    border: 20px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 772px;
}

.enjoy-our-food .contenido-4 h1{
    color: var(--color-font);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 10px;
}

.enjoy-our-food .contenido-4 p{
    color: var(--color-font);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 35px;
    display: flex;
    height: 497px;
    width: 605px;
    margin-top: 20px;
}

/* Our menu */

.Our-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Our-menu .titulo{
    display: flex;
    margin-top: 50px;
    color: var(--color-font);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 40px;
}

.menu{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.menu h1{
    color: var(--color-primary);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 25px;
    margin-top: 20px;
}

.menu p{
    color: var(--color-font);
    font-family: "Poppins", sans-serif;
    font-style: normal;

}

.menu .precio{
    color: var(--color-primary);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 20px;
    margin-top: 20px;
}

.menu .menu-1{
    margin: 50px;
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.menu .menu-2{
    margin: 50px;
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.menu .menu-3{
    margin: 50px;
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.menu img{
    width: 407px;
    height: 360px;
}

/* enjoy best mea */

.enjoy-best-mea{
    background-color: var(--color-primary);
    display: flex;
    height: 600px;

}

.enjoy-best-mea .contenido-izquierda{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.enjoy-best-mea .contenido-izquierda img{
    width: 700px;
    height: 700px;
}

.enjoy-best-mea .contenido-derecha{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

.enjoy-best-mea .contenido-derecha p{
    margin-top: 20px;
}

/* footer */

footer{
    background-color: #323239;
    display: flex;
    height: 300px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer .Barra-footer{
    margin-top: 20px;
    display: flex;
}

.items-footer{
    width: 1000px;
    display: flex;
    justify-content: center;
}

footer .items-footer li{
    display: inline;
}

footer .items-footer a{
    color: var(--color-font);
    text-decoration: none;
}

.iconos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
    
